.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.nav{
  display: flex;
  align-items: center;
}

.footer{
  display: flex;
  align-items: center;
}

.navlink{
  margin: .5em;
  border: 2px solid orange;
  background: white;
  padding: .5em;
  text-decoration: none;
}

.navlink:hover{
  background-color: orange;
}

.selected{
  margin: .5em;
  border: 2px solid red;
  background: white;
  padding: .5em;
  text-decoration: none;
}

.selected:hover{
  background-color: red;
}

.welcome{
  font-size: 300%;
}

.subheader{
  font-size: 200%;
}

.logo{
  height: 100px;
  width: 100px;
}

.resource_logo{
  height: 80px;
  width: 80px;
}

.resource-link{
  width: 100%;
  display: flex;
  align-items: center;
  margin: 1em;
  text-decoration: none;
  color: black;
  background-color: lightgrey;
}

.resource-link:hover{
  box-shadow: 10px 10px 5px 5px #888888;
}

.resource_header{
  width: 70%;
  margin: 0;
}

.home-main-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home-container {
  background-color: #EEE;
  padding: .5em;
  margin-top: .5em;
}

.featured{
  width: 45%;
  height: 100%;
  background-color: green;
}

.resource_icons{
  padding: 1em;
  width: 45%;
}

.resource-card{
  display: flex;
  flex-wrap: wrap;
  border: 1px solid grey;
  width: 100%;
  padding: 1em;
  align-items: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
